<%- include("partials/header.ejs") %>

<main class="detele-section">
    <h1>Remove a Course</h1>

    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>

    <form class="form mb-2" action="/courses/removecourse" method="post">
        <fieldset>
            <legend>Search course by:</legend>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="searchPara" id="idSearch" value="course_id" checked>
                <label class="form-check-label" for="idSearch">
                    Course ID
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="searchPara" id="nameSearch" value="course_name">
                <label class="form-check-label mb-3" for="nameSearch">
                    Course Name
                </label>
            </div>
        </fieldset>

        <label>Only enter the field selected above</label>
        <input class="mb-2 form-control" type="number" name="course_id" placeholder="Enter Course ID">
        <input class="mb-2 form-control" type="text" name="course_name" placeholder="Enter Course Name">
        <input class="mb-1 btn btn-primary" type="submit">
    </form>
</main>

<%- include("partials/footer.ejs") %>
