<%- include("partials/header.ejs") %>

    <main>
        <h1>Home Page</h1>

       

        <p>Student details</p>

        <% if (students && students.length > 0) { %>
        <table >
            <tr>
                <th>Roll No</th>
                <th>Name</th>
            </tr>
            <% students.forEach(student => { %>
                <tr>
                    <td><%= student.rollno %></td>
                    <td><%= student.s_name %></td>
                </tr>
            <% }); %>
        </table>
        <% } else { %>
            <p>No students in database</p>
        <% } %>
    </main>

<%- include("partials/footer.ejs") %>