body {
    font-family: Arial, sans-serif;
    background-color: #ff5353;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #333;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }