/* colors
#F8F0E5
#FFBB5C
#FF9B50
#E25E3E
#C63D2F 
*/


#header-section{
  margin: 10px;
  border-radius: 5px;
  background-color: #F8F0E5;
}

main{
 
  background-color: rgba(240, 248, 255, 0.85);
  margin: 10px;
  border-radius: 5px;
  padding: 25px;

}

table{
  border: 2px solid;
  border-color: rgb(255, 255, 255);
  
}

th, td {
  border: 1px solid;
  border-color: black;
  padding: 2px 5px;
  text-align: center;
}

.form-control{
  width: 300px;
}

.navbar-brand{
  font-size: large;
  border-color: #FFBB5C;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
}

/* animations */
body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(315deg, #C63D2F 3%, #E25E3E 38%, #FF9B50 68%, #FFBB5C 98%);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
      background-position: 0% 0%;
  }
  50% {
      background-position: 100% 100%;
  }
  100% {
      background-position: 0% 0%;
  }
}
/* Add these styles */
 html ,body{
  height: 100%;
  margin: 0;    /* Remove default margin */
  overflow: auto;
}

body {
  display: block;

  
}


footer {
  position: relative;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  color: #F8F0E5;
  overflow: hidden; 
  padding-top: 50px; 
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.wave {
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 12em;
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  animation: wave 10s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  z-index: -1; /* Ensure waves are behind text */
}

.wave:nth-of-type(2) {
  animation: wave 18s linear reverse infinite;
  opacity: 0.6;
}

.wave:nth-of-type(3) {
  animation: wave 20s -1s reverse infinite;
  opacity: 0.4;
}

@keyframes wave {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.nav-link{
  margin: 2px;
  border-radius: 5px;
  border-color: #FFBB5C;
  border-style:solid;
  border-top: none;
  border-left: none;
  border-width: 2px;

}
.nav-link:hover{
  border-style:solid;
  border-color: #FF9B50;
  background-color: #ffffff;
}


html, body {
  height: 100%; /* Full height for the viewport */
  margin: 0;    /* Remove default margin */
  overflow-x: hidden; /* Prevent horizontal overflow */
}

body {
  display: flex; 
  flex-direction: column;
  
}

#header-section {
  margin: 10px;
  border-radius: 5px;
  background-color: #F8F0E5;
}

main {
  background-color: rgba(240, 248, 255, 0.85);
  margin: 10px;
  border-radius: 5px;
  padding: 25px;
  flex: 1;
}

footer {
  margin-top: 100px;
  position: relative; 
  width: 100%;
  
  background-color: rgba(255, 255, 255, 0.194);
  color: #F8F0E5;
  overflow: hidden; 
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1; 
  
}

.wave {
  position: absolute;
  bottom: 0;
  width: 200%;
  height: 12em;
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  animation: wave 10s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  z-index: -1; /* Ensure waves are behind text */
}

.wave:nth-of-type(2) {
  animation: wave 18s linear reverse infinite;
  opacity: 0.6;
}

.wave:nth-of-type(3) {
  animation: wave 20s -1s reverse infinite;
  opacity: 0.4;
}